<%- include("header1") -%>


<div class="about-page">
    <div>
        <h1 class="about-heading">About Us</h1>
    </div>
     <p>We want VITians to travel anywhere conveniently. Now VITians don't need WhatsApp groups to find friends to travel with.
        You just need to use our website to find your travel partner & share travel expenses and make your journey memorable.
        This service is exclusively made for VITians only. This helps us to keep VITians data safe and secure.</p>

    <div class="founder" id="wrapper">
        <h5>Founder and CEO :-  Gagan Kapoor</h5>
        <h5>CoFounder :-  Kaustubh Arora</h5>
    </div>
</div>





</div>

<div class="footer-padding">
    <div class="footer-for-data">

        <p>a Gagan Kapoor production
            <br>
            The Homr © 2023</p>
            <a class="fa-brands fa-instagram footer-fonts" href="https://www.instagram.com/gagankapoor97/"></a>
            <a href="https://www.linkedin.com/in/gagan-kapoor-8a0b34255/" class="fa-brands fa-linkedin footer-fonts"></a>
            <a class="fa-solid fa-envelope footer-fonts" href=""></a>
        </div>
    </div>

</body>
</html>