</div>

<div class="footer footer-padding">
    <div class="footer-for-data">

        <p>a Gagan Kapoor production
            <br>
            The Homr © 2023</p>
            <a class="fa-brands fa-instagram footer-fonts" href="https://www.instagram.com/gagankapoor97/"></a>
            <a href="https://www.linkedin.com/in/gagan-kapoor-8a0b34255/" class="fa-brands fa-linkedin footer-fonts"></a>
            <a class="fa-solid fa-envelope footer-fonts" href=""></a>
        </div>
    </div>

</body>
</html>
<!-- <nav class="navbar navbar-expand">
        <div class="container">
            <a class="navbar-brand" href="#">traveasy</a>
      
            <ul class="nav navbar-nav navbar-right ">
                
                <li>
                    <a  href="/">HOME</a>
                </li>
                <li id="about">
                    <a href="/about">ABOUT US</a>
                </li>
                <li id="contact">
                    <a href="/contact">CONTACT US</a>
                </li>
                <li id="data">
                    <a href="/data">data</a>
                </li>
            </ul>
        </div>
    </nav> --><!-- <nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">traveasy</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link" aria-current="page" href="/">HOME</a>
              <a class="nav-link" href="/about">ABOUT US</a>
              <a class="nav-link" href="/contact">CONTACT US</a>
              <a class="nav-link" href="/data">data</a>
            </div>
          </div>
        </div>
      </nav> --><!-- <nav class="navbar navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">traveasy</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Dark offcanvas</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about">ABOUT US</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/contact">CONTACT US</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav> --><!-- \\
    
    
    
    
      .navbar {
        background-color: black;
        padding: 0%;
        color: white;
        display: block;
        padding: 15px ;
    }
    
    /* .container-fluid{
        background-color: #000;
    } */
    
    
    
    
    
    .navbar-brand{
        color: white; 
    }
    
    .navbar-brand:hover{
        color: white; 
    } -->
