<%-include('header1')-%>

<div class="jumbotron centered">
    <div class="container">
        <i class="fa-first-page fa fa-light fa-plane-departure"></i>
        <h1 class="display-3">The Homr</h1>
        <p class="lead">VITians, we are here to help you find your Travel Partner</p>
        <hr>
            <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
            <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

        </div>
    </div>

    <%- include("footer") -%>
