<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Homr</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon2.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/cb5761a778.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://kit.fontawesome.com/cb5761a778.css" crossorigin="anonymous">
      <section id="title">
        <nav class="navbar navbar-expand">
            <div class="container">
                <a class="navbar-brand" href="/home">The Homr</a>
                <ul class="nav navbar-nav navbar-right">
                    <!-- 6 -->
                    <li id="home"><a href="/home">HOME</a></li>
                    <li id="about"><a href="/about">ABOUT US</a></li>
                    <!-- <li id="contact"><a href="/contact">CONTACT US</a></li> -->
                    <!-- <li id="data"><a href="/data">data</a></li>
                    <li id="data"><a href="/testing">test</a></li> -->
                </ul>
            </div>
        </nav>
    
</head>

<body>
<div class="startpage">
    <div class="row">
        <div class="">
            <h1 class="frontheading1">Find Your Travel Partner</h1>
        </div>
    </div>    
    <div>


        
       
        <form class="item" action="/" method="post"  id="userInput">
            <div class="row">
                <div class="col-lg-12">
                    <input class="btn btn-light btn-lg" type="text" name="newName" placeholder="Full Name" autocomplete="on" required >
                </div>

                <div class="col-lg-12">
                    <input class="btn btn-light btn-lg" type="tel"  name="newNumber" minlength="10" maxlength="10" placeholder="Phone Number" required>
                </div>
                <div class="col-lg-12">
                    <input class="btn btn-light btn-lg" type="text"   name="newPlace" id="myInput" onkeyup="searchFun()" placeholder="Going to..." title="don't leave spaces for better result" autocomplete="on" required>
                </div>

                <div class="col-lg-12">
                    <input class="btn btn-light btn-lg" type="datetime-local" min="2023-03-16T00:00" max="2030-12-31T00:00" name="newDate" placeholder="Date" required> 
                </div>
                
                <div class="col-lg-12">
                    <button class="btn btn-light btn-lg " type="submit" name="list">Search</button>
                </div>

            </div>
           
            
        </form>
    
</div>
    </section>

<div class="container1">
   <div class="row">
      <div class="colu-6 colu-4 colu-1">
        <img class="travelling-img" src="https://media.istockphoto.com/id/858917054/photo/happy-friends-travel-expedition-concept.jpg?s=612x612&w=0&k=20&c=ATiu_Nvrt5Rs5NYo6mib-e35MvsyR-caaXlQ1BIiq00=" alt="friends travelling">   
      </div>
      
       <div class="colu-6 colu-4 colu-3 colu-2 colu-1">
        <div class="frontheading2">
        <h1>Travelling alone is boring</h1>
        </div>
      <p>We know travelling alone is one of the most boring thing in this world. So we created
        this website so that you can find your travel buddy easilly without much hustle. You just
        need to give details asked above and click search andchoose your partner and just contact them.
        By clicking search we save your information for other travellers who wants to go to same place as yours
        and they can contact you.
      </p>
     </div>
    
</div>
</div>







</div>

<div class="footer-padding">
    <div class="footer-for-data">

        <p>a Gagan Kapoor production
            <br>
                The Homr © 2023</p>
            <a class="fa-brands fa-instagram footer-fonts" href="https://www.instagram.com/gagankapoor97/"></a>
            <a href="https://www.linkedin.com/in/gagan-kapoor-8a0b34255/" class="fa-brands fa-linkedin footer-fonts"></a>
            <a class="fa-solid fa-envelope footer-fonts" href=""></a>
        </div>
    </div>

</body>
</html>


    